
// Colors
$black: #0e0e0e;
$violet: #682AE9; 
$purple: #853586;
$green: #0B8D00;
$yellow: #FFB800;
$red: #FF0000;
$grey: rgb(128, 128, 128);
$darkgrey: #6f607d;
$main-text: rgb(245, 245, 245); 

//Color palette MIDNIGHT GREEN


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    color: $main-text;
    overflow-x: hidden;
    background:linear-gradient(to left, $violet, $black);                 
    background-repeat: no-repeat;
    background-size: cover;
    // backdrop-filter: blur(50px);
}

body::-webkit-scrollbar{
    width: .5rem;
}

body::-webkit-scrollbar-track{
    background: $black;
}

body::-webkit-scrollbar-thumb{
    background: $violet;
}

h1{
    font-size: 5rem;
}
p{
    font-size: 1.3rem;
}

@media screen and (max-width: 1200px){
    h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 550px){
    h1{
        font-size: 1.8rem;
    }
    p{
        font-size: .9rem;
    }
}