
// Colors
$primary: rgb(10, 10, 10); // nero 
$background: rgb(17,67,81); // petrolio
$petroil-black: rgb(4, 19, 17);
$dark-green: rgb(13, 48, 46);
$green: rgb(38, 77, 76);
$light-green: rgb(62, 92, 103);
$grey-green: rgb(62, 92, 103);
$secondary: rgb(40, 40, 40); //grigio scuro
$main-text: rgb(245, 245, 245); //bianco sporco

//Color palette MIDNIGHT GREEN


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position:relative;
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    color: $main-text;
    
}



.footer{
    position: absolute;
    bottom: 0px;
}
