
// Colors
$black: rgb(10, 10, 10);
$violet: #240A6D; 
$purple: #C000C3;
$green: #0B8D00;
$yellow: #FFB800;
$red: #FF0000;
$grey: rgb(62, 92, 103);
$main-text: rgb(245, 245, 245); 

//Color palette MIDNIGHT GREEN


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    color: $main-text;
    overflow-x: hidden;
    background: #000000;
    background-image: -webkit-linear-gradient(to right,$black, #6100ff);
    background-image: linear-gradient(to right,$black, #6100ff);
    background-image: -moz-linear-gradient(to right,$black, #6100ff);
    backdrop-filter: blur(8px);
}

body::-webkit-scrollbar{
    width: .5rem;
}

body::-webkit-scrollbar-track{
    background: $black;
}

body::-webkit-scrollbar-thumb{
    background: $violet;
}
