/* NAVBAR */

.navbar {
    position: fixed;
    transition: width 600ms ease;
    font-family: 'Roboto Mono', monospace;
    top: 0;
    width: 15rem;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg,#000000 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg,#000000 50%, rgba(0,0,0,0) 100%);
    background: -moz-linear-gradient(0deg,#000000 50%, rgba(0,0,0,0) 100%);
}

.navbar-na{
    list-style: none;
    padding: 3rem 0;
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
}

.nav-item{
    text-align: center;
    width: 25%;
}
  
// .nav-item:last-child {
//     margin-top: auto;
// }

.nav-item:first-child {
    margin-bottom: 14rem;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: $main-text;
    text-decoration: none;
    transition: 600ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: $yellow;
}

.logo span{
    font-weight: bold;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
}
.burger div{
    width: 30px;
    height: 5px;
    background-color: $main-text;
    margin: 5px;
}



@media screen and (max-width: 768px){
    
    .burger{
        display: block;
        z-index: 3;
    }
    
    .navbar{
        position:fixed;
        right:0px;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction:column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
        background: #000000;
        background: linear-gradient(180deg,#000000 50%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(180deg,#000000 50%, rgba(0,0,0,0) 100%);
        background: -moz-linear-gradient(180deg,#000000 50%, rgba(0,0,0,0) 100%);
    }
    
    .nav-link{
        opacity: 0;
    }
    
    .navbar-na{
        margin: 50vh 0;
        
    }
    .logo{
        display: none;
    }
}

.nav-active{
    transform: translateX(0%)
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(300px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
