{{ define "main"}}    
<h1>{{ .Title }}</h1>  
{{ range .Params.Components }}
    {{ if .hero }}
        {{ partial "hero.html" (dict "hero" .hero)}}  
    {{ end }}
    {{ if .grid }}
        {{ partial "grid.html" (dict "grid" .grid)}}  
    {{ end }}
    {{ if .blurb }}
        {{ partial "blurb.html" (dict "blurb" .blurb)}}  
    {{ end }}
{{ end }}
<ul>
    {{ range where .Site.RegularPages "Type" "my_blog"}}
         <li><a href="{{ .Permalink}}">{{ .Title }}</a> </li>
    {{end}}
 </ul>
{{ end }}
   
