{{ define "main" }}
<div class="main">
  <!-- <h1 class="title">{{ .Site.Title }}</h1> -->
  <div class="grid-container">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
    <div class="content">
      <div class="content-columns"></div>
      <div class="content-columns"></div>
      <div class="content-columns"></div>
      <div class="content-columns"></div>
      <div class="content-columns"></div>
      <div class="content-columns"></div>
    </div>
  </div>
</div>
{{ end }}
