<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    
    <!-- Style -->
    {{ $style := resources.Get "scss/style.scss"}}
    {{ $components := readDir "assets/scss/components"}}
    
    {{ range $components}}
        {{ $component := resources.Get (printf "scss/components/%s" .Name) }}
        {{ $style = slice $style $component | resources.Concat .Name }}
    {{ end}}
    
    {{ $style := slice $style | resources.Concat "all.css" | toCSS  | minify | fingerprint}}
    
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <!-- JS  -->
    <!-- Definisco il titolo  -->
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}
        {{ $title := .Site.Title }}
    {{ end }}
    <title>{{ .Title }}</title>
</head>
