<nav class="navbar">
    
    <ul class="navbar-na">
        <li class="nav-item logo">
            <span> .frabatx()</span>
        </li>
        {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">
                    <span class="link-text">.{{.Name}}()</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
<div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>