<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" .}}
    <body>
        <!-- NAVBAR -->
        {{ partial "header.html" .}}

        <!-- TERMINAL ANIMATION -->
        <div class="container-animation">
            <a id="btn-skip">Skip animation</a>
            <!-- TERMINAL ANIMATION -->
            <div class="terminal-container">
                <div class="wrapper">
                    <div id="background-layer"></div>
                    <div id="typed-paragraph">
                    <span id="codename">[frabatx@admin]$: > </span>
                    <span id="im"></span>
                    <span id="target"></span>
                    <span id="prima"></span>
                    <span id="seconda"></span>
                    <span id="terza"></span>
                    <span id="quarta"></span>
                    <span id="cursor">|</span>
                    <div id="rows"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PULSE DOT -->
        <div class="fixed-stick">
            <div class="stick"></div>
            <div class="bubble"></div>
            <div class="bubble-pulse"></div>
          </div>
        

        <!-- MAIN PRESENTATION -->
        <div class="main">
            <div class="html angular">&lthtml&gt</div>
            <div class="body angular">&ltbody&gt</div>
            <div class="content">
                <div class="main-content">
                    <div class="h1 angular">&lth1&gt</div>
                    <div class="main-text">
                        <h1>Hi</h1> 
                        <h1 class="glitch">I'm Frabatx</h1>
                        <h1>I'm a developer</h1>
                    </div>
                    <div class="h1 angular">&lt/h1&gt</div>
                </div>
                <div class="description">
                    <div class="p angular">&ltp&gt</div>
                    <p class="description-text">Data Science Student / Full Stack .Net Developer</p>
                    <div class="p angular">&lt/p&gt</div>
                </div>
            </div>
        </div>

        <div class="main-minus">
            <div class="content">
                <div class="main-content">
                    <p class="description-text" id="intro-cv"></p>
                    <h1 class="main-text" id="cv"></h1>
                    <p class="description-text" id="desc-cv"></p>
                </div>
            </div>
        </div>

        <div class="main-minus">
            <div class="content">
                <div class="main-content">
                    <h1 class="main-text" id="army"></h1>
                    <p class="description-text" id="years-army"></p>
                    <p class = "desc" id="desc-army"></p>
                </div>
            </div>
        </div>

        <div class="main-minus">
            <div class="content">
                <div class="main-content">
                    <h1 class="main-text" id="unibari"></h1>
                    <p class="description-text" id="years-unibari"></p>
                    <p class = "desc" id="desc-unibari"></p>
                </div>
            </div>
        </div>

        <div class="main-minus">
            <div class="content">
                
            </div>
        </div>

    {{ partial "script.html" .}} 
    </body>
</html>
